<section class="register-user-form-section p-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h4 class="text-center pb-3 fs-2">Gestión de Usuarios</h4>

        <!-- Campo de búsqueda -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="searchRut"
            [(ngModel)]="searchRut"
            placeholder="Buscar usuario por RUT"
            (input)="formatRut($event, 'searchRut')"
          />
          <label for="searchRut">Buscar Usuario por RUT</label>
        </div>
        <div class="d-grid gap-2 mb-4">
          <button
            class="btn btn-primary"
            (click)="searchUser()"
            [disabled]="!searchRut"
          >
            Buscar Usuario
          </button>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
          <!-- RUT -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="rut"
              formControlName="rut"
              placeholder="RUT"
              maxlength="12"
              (input)="formatRut($event, 'rut')"
              [disabled]="isEditing"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('rut')?.invalid &&
                  registerForm.get('rut')?.touched,
                'is-valid': registerForm.get('rut')?.valid
              }"
            />
            <label for="rut">RUT</label>
            <div
              *ngIf="
                registerForm.get('rut')?.invalid &&
                registerForm.get('rut')?.touched
              "
              class="invalid-feedback"
            >
              <!-- Mostrar solo el mensaje de campo obligatorio si está vacío -->
              <small *ngIf="registerForm.get('rut')?.errors?.['required']"
                >El RUT es obligatorio.</small
              >

              <!-- Mostrar el mensaje de RUT inválido solo si no está vacío -->
              <small
                *ngIf="!registerForm.get('rut')?.errors?.['required'] && registerForm.get('rut')?.errors?.['invalidRut']"
              >
                El RUT ingresado no es válido.
              </small>
            </div>
          </div>

          <!-- Nombre Completo -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="fullName"
              id="fullName"
              maxlength="90"
              placeholder="Nombre Completo"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('fullName')?.invalid &&
                  registerForm.get('fullName')?.touched,
                'is-valid': registerForm.get('fullName')?.valid
              }"
            />
            <label for="fullName">Nombre Completo</label>
            <div
              *ngIf="
                registerForm.get('fullName')?.invalid &&
                registerForm.get('fullName')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="registerForm.get('fullName')?.errors?.['required']">
                El nombre completo es obligatorio.
              </small>
              <small
                *ngIf="registerForm.get('fullName')?.errors?.['invalidFullName']"
              >
                El nombre solo puede contener letras.
              </small>
            </div>
          </div>

          <!-- Username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="username"
              id="username"
              maxlength="40"
              placeholder="Username"
              [disabled]="isEditing"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('username')?.invalid &&
                  registerForm.get('username')?.touched,
                'is-valid': registerForm.get('username')?.valid
              }"
            />
            <label for="username">Username</label>
            <div
              *ngIf="
                registerForm.get('username')?.invalid &&
                registerForm.get('username')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="registerForm.get('username')?.errors?.['required']"
                >El username es obligatorio.</small
              >
            </div>
          </div>

          <!-- Password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="password"
              id="password"
              maxlength="50"
              placeholder="Password"
              [ngClass]="{
                'is-invalid':
                  registerForm.get('password')?.invalid &&
                  registerForm.get('password')?.touched,
                'is-valid': registerForm.get('password')?.valid
              }"
            />
            <label for="password">Password</label>
            <div
              *ngIf="
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.touched
              "
              class="invalid-feedback"
            >
              <small *ngIf="registerForm.get('password')?.errors?.['required']"
                >La contraseña es obligatoria.</small
              >
              <small *ngIf="registerForm.get('password')?.errors?.['minlength']"
                >La contraseña debe tener al menos 3 caracteres.</small
              >
              <small *ngIf="registerForm.get('password')?.errors?.['maxlength']"
                >La contraseña no puede tener más de 50 caracteres.</small
              >
            </div>
          </div>
          <!-- Rol -->
          <div class="form-custom mb-3">
            <select
              class="form-select fst-normal pt-3 pb-3"
              formControlName="role"
              id="role"
              rows="3"
              [ngClass]="{
                'text-body-secondary': !selectedRol,
                'text-black': selectedRol,
                'is-invalid': role?.invalid && role?.touched,
                'is-valid': role?.valid && role?.touched
              }"
              (change)="onSelectChange($event)"
              required
            >
              <option value="" disabled selected>Selecciona un Rol</option>
              <option *ngFor="let role of roles" [value]="role.roleId">
                {{ role.roleName }}
              </option>
            </select>
            <div
              *ngIf="
                registerForm.get('role')?.invalid &&
                registerForm.get('role')?.touched
              "
              class="invalid-feedback"
            >
              <small>El rol es obligatorio.</small>
            </div>
          </div>
          <!-- Botones -->
          <div class="d-flex gap-2">
            <button
              class="btn btn-primary btn-lg w-100"
              type="button"
              (click)="registerUser()"
              [disabled]="registerForm.invalid || isEditing"
            >
              Registrar
            </button>
            <button
              class="btn btn-success btn-lg w-100"
              type="button"
              (click)="updateUser()"
              [disabled]="!userId || registerForm.invalid"
            >
              Modificar
            </button>
            <button
              class="btn btn-warning text-white btn-lg w-100"
              type="button"
              (click)="resetForm()"
            >
              Limpiar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
