<div class="reset-password-container p-5">
    <h2 class="mb-4">Resetear Contraseña</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Ingresa tu correo electrónico"
        />
        <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="text-danger">
          Ingresa un correo válido.
        </div>
    </div>
  
      <button type="submit" class="btn btn-primary w-100" [disabled]="resetPasswordForm.invalid">Restablecer Contraseña</button>
    </form>
  </div>