<div class="wrapper">
  <aside id="sidebar" [ngClass]="{ collapsed: isCollapsed }">
    <!-- Content Sidebar -->
    <div class="h-100">
      <div class="sidebar-logo fs-2">
        <a routerLink="view-tickets">BrainService</a>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-header">Modulo Tickets</li>
        <li
          class="sidebar-item pb-2"
          *ngIf="
            userRole === 'user' ||
            userRole === 'soporte' ||
            userRole === 'admin'
          "
        >
          <a
            routerLink="create-ticket"
            routerLinkActive="active"
            class="sidebar-link"
          >
            <i class="fa-solid fa-pen pe-1"></i>
            Crear Tickets
          </a>
        </li>
        <li
          class="sidebar-item"
          *ngIf="
            userRole === 'user' ||
            userRole === 'soporte' ||
            userRole === 'admin'
          "
        >
          <a
            routerLink="view-tickets-user"
            routerLinkActive="active"
            class="sidebar-link"
          >
            <i class="fa-solid fa-ticket pe-1"></i>
            Mis Tickets
          </a>
        </li>
        <li
          class="sidebar-header"
          *ngIf="userRole === 'soporte' || userRole === 'admin'"
        >
          Administración Tickets
        </li>
        <li class="sidebar-item" *ngIf="userRole === 'admin'">
          <a
            routerLink="view-tickets-admin"
            routerLinkActive="active"
            class="sidebar-link"
          >
            <i class="fa-solid fa-table pe-1"></i>
            Panel Tickets Admin
          </a>
        </li>
        <li class="sidebar-item" *ngIf="userRole === 'admin'">
          <a
            routerLink="view-tickets-soporte"
            routerLinkActive="active"
            class="sidebar-link"
          >
            <i class="fa-solid fa-table pe-1"></i>
            Panel Tickets Soporte
          </a>
        </li>
        <li class="sidebar-header" *ngIf="userRole === 'admin'">
          Administración Usuarios
        </li>
        <li class="sidebar-item" *ngIf="userRole === 'admin'">
          <a
            routerLink="register-users"
            routerLinkActive="active"
            class="sidebar-link"
          >
            <i class="fa-solid fa-user pe-1"></i>
            Gestión de Usuarios
          </a>
        </li>
        <li class="sidebar-header">Salir de la Aplicación</li>
        <li class="sidebar-item">
          <a (click)="logout()" class="sidebar-link">
            <i class="fa-solid fa-door-open pe-1"></i>
            Cerrar Sesión
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom navbar-dark">
      <button class="btn" id="sidebar-toggle" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              href="#"
              (click)="toggleNotifications($event)"
              class="nav-icon pe-md-0"
            >
              <i
                class="fa-bell pe-3 notification-icon"
                [ngClass]="{
                  'fa-regular': notifications.length === 0,
                  'fa-solid': notifications.length > 0,
                  'text-warning': notifications.length > 0,
                  'text-white': notifications.length === 0
                }"
              ></i>
            </a>
          </li>

          <!-- Panel de notificaciones -->
          <div *ngIf="showNotifications" class="notification-panel">
            <ul class="notification-list">
              <li
                *ngFor="let notification of notifications"
                class="notification-item d-flex justify-content-between align-items-center"
              >
                <span>{{ notification.text }}</span>
                <button
                  class="btn-close btn-sm text-muted"
                  (click)="removeNotification(notification.id)"
                  aria-label="Cerrar"
                ></button>
              </li>
              <!-- Mostrar mensaje cuando no haya notificaciones -->
              <li *ngIf="notifications.length === 0" class="text-center py-2">
                <span class="text-muted">Sin notificaciones</span>
              </li>
            </ul>
          </div>

          <span class="text-white fs-5 user-text">{{ usuario }}</span>
        </ul>
      </div>
    </nav>

    <main class="context px-3 py-2">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
