<div class="wrapper">
  <aside id="sidebar" [ngClass]="{ collapsed: isCollapsed }">
    <!-- Sidebar Content -->
    <div class="h-100">
      <div class="sidebar-logo fs-2">
        <a routerLink="view-tickets">BrainService</a>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-header">Modulo Tickets</li>
        <li class="sidebar-item pb-2">
          <a routerLink="create-ticket" class="sidebar-link">
            <i class="fa-solid fa-pen pe-1"></i>
            Crear Tickets
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="view-tickets-user" class="sidebar-link">
            <i class="fa-solid fa-ticket pe-1"></i>
            Mis Tickets
          </a>
        </li>
        <li class="sidebar-header">Administración Tickets</li>
        <li class="sidebar-item">
          <a routerLink="view-tickets" class="sidebar-link">
            <i class="fa-solid fa-table pe-1"></i>
            Panel Tickets
          </a>
        </li>
        <li class="sidebar-header">Administración Usuarios</li>
        <li class="sidebar-item">
          <a routerLink="register-users" class="sidebar-link">
            <i class="fa-solid fa-user pe-1"></i>
            Gestión de Usuarios
          </a>
        </li>
        <li class="sidebar-header">Salir de la Aplicación</li>
        <li class="sidebar-item">
          <a (click)="logout()" class="sidebar-link">
            <i class="fa-solid fa-door-open pe-1"></i>
            Cerrar Sesión
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="main">
    <nav class="navbar navbar-expand px-3 border-bottom navbar-dark">
      <button class="btn" id="sidebar-toggle" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- Tooltip para notificaciones -->
            <a
              href="#"
              id="notificationTooltip"
              class="nav-icon pe-md-0"
              data-bs-toggle="tooltip"
              title=""
            >
              <i class="fa-regular fa-bell pe-3 notification-icon"></i>
            </a>
            <!-- Nombre del usuario -->
            <span class="text-white fs-5 user-text">{{ usuario }}</span>
          </li>
        </ul>
      </div>
    </nav>
    <main class="context px-3 py-2">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
