<div class="fondo">
  <section class="p-3 p-md-3 p-xl-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-xxl-11">
          <div class="card border-0 rounded-4 shadow">
            <div class="row g-0">
              <div class="col-12 col-md-6">
                <img
                  class="img-fluid rounded-start-4 d-none d-md-block w-100 h-100 object-fit-cover"
                  src="assets/fondo_password.jpg"
                  alt="Fondo Manos Equipo"
                />
              </div>
              <div
                class="col-12 col-md-6 d-flex align-items-center justify-content-center"
              >
                <div class="col-12 col-lg-11 col-xl-10">
                  <div class="card-body p-3 p-md-2 p-xl-3">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-xxl-5">
                          <h4 class="text-center pb-xl-2 pt-3">
                            Cambio de Contraseña
                          </h4>
                          <p class="text-center fst-italic pb-3">
                            Debes cambiar la contraseña para poder iniciar
                            sesión
                          </p>
                        </div>
                      </div>
                    </div>

                    <form
                      class="form"
                      [formGroup]="changePasswordForm"
                      (ngSubmit)="changePassword()"
                    >
                      <div class="row gy-3 overflow-hidden border-dark">
                        <!-- Campo de Nueva Contraseña -->
                        <div class="col-12">
                          <div class="form-floating mb-xl-2 mb-1">
                            <input
                              [type]="showPassworChange ? 'text' : 'password'"
                              class="form-control"
                              formControlName="newPassword"
                              id="newPassword"
                              placeholder="Password"
                              required
                            />
                            <label for="newPassword" class="form-label">
                              Contraseña
                            </label>
                            <span
                              class="position-absolute top-50 end-0 translate-middle-y pe-3 btn-dark"
                              style="cursor: pointer"
                              (click)="togglePasswordVisibilityChange()"
                            >
                              <i
                                class="bi"
                                [ngClass]="
                                  showPassworChange
                                    ? 'fa-regular fa-eye-slash'
                                    : 'fa-regular fa-eye'
                                "
                              ></i>
                            </span>
                          </div>

                          <!-- Mensaje de error dinámico -->
                          <div class="text-center pt-2">
                            <small
                              [ngClass]="{
                                'text-danger': changePasswordForm.get('newPassword')?.errors?.['passwordStrength'] &&
                                  changePasswordForm.get('newPassword')?.touched,
                                'text-dark': !(changePasswordForm.get('newPassword')?.errors?.['passwordStrength'] &&
                                  changePasswordForm.get('newPassword')?.touched)
                              }"
                            >
                              La contraseña debe tener al menos 3 números, 1
                              letra y 1 carácter especial.
                            </small>
                          </div>
                        </div>

                        <!-- Campo de Confirmar Contraseña -->
                        <div class="col-12">
                          <div class="form-floating mb-xl-2 mb-3">
                            <input
                              [type]="
                                showConfirmPassworChange ? 'text' : 'password'
                              "
                              class="form-control"
                              formControlName="confirmNewPassword"
                              id="confirmNewPassword"
                              placeholder="Password"
                              required
                            />
                            <label for="confirmNewPassword" class="form-label">
                              Confirmar Contraseña
                            </label>
                            <span
                              class="position-absolute top-50 end-0 translate-middle-y pe-3 btn-dark"
                              style="cursor: pointer"
                              (click)="togglePasswordVisibilityChangeConfirm()"
                            >
                              <i
                                class="bi"
                                [ngClass]="
                                  showConfirmPassworChange
                                    ? 'fa-regular fa-eye-slash'
                                    : 'fa-regular fa-eye'
                                "
                              ></i>
                            </span>
                          </div>
                          <!-- Mensaje de error -->
                          <div
                            *ngIf="
                              !passwordsMatch &&
                              changePasswordForm.get('confirmNewPassword')
                                ?.touched
                            "
                            class="error-text text-center"
                          >
                            <small class="text-danger">
                              Las contraseñas no coinciden.
                            </small>
                          </div>
                        </div>

                        <!-- Botón de Cambiar Contraseña -->
                        <div class="col-12">
                          <div class="d-grid pb-3">
                            <button
                              class="btn btn-dark btn-lg"
                              type="submit"
                              [disabled]="
                                changePasswordForm.invalid || !passwordsMatch
                              "
                            >
                              Cambiar Contraseña
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
