body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Asegura que el fondo ocupe toda la altura de la pantalla */
  background: radial-gradient(
      circle at 20% 20%,
      rgba(221, 239, 150, 0.5),
      transparent 30%
    ),
    radial-gradient(circle at 80% 80%, rgba(255, 222, 89, 0.5), transparent 25%),
    radial-gradient(
      circle at 50% 50%,
      rgba(217, 217, 217, 0.4),
      transparent 35%
    ),
    radial-gradient(
      circle at 30% 70%,
      rgba(173, 226, 249, 0.4),
      transparent 40%
    ),
    radial-gradient(
      circle at 70% 40%,
      rgba(198, 184, 226, 0.4),
      transparent 30%
    );
  background-size: 300% 300%;
  animation: smokeEffect 5s ease-in-out infinite;
  overflow-y: auto; /* Permite el desplazamiento si el contenido es más grande que la pantalla */
}

.card {
  animation: fadeIn 1s ease-out;
  width: 100%;
}

img.object-fit-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Animación de humo */
@keyframes smokeEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Reservar espacio debajo de cada input para los mensajes de error */
.form-floating {
  margin-bottom: 4rem; /* Espacio suficiente para texto de error */
}

.error-text {
  font-size: 0.875rem;
  color: #dc3545; /* Color rojo para los mensajes de error */
  animation: fadeIn 0.3s ease-in-out; /* Animación para suavizar la aparición */
}

.text-dark {
  color: #000; /* Negro por defecto */
}
small.text-danger {
  margin-top: 0.5rem;
  display: block;
  font-size: 0.875rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
