<div class="ticket-container">
    <h2 class="title">Lista de Tickets</h2>
    <div *ngIf="tickets.length > 0; else noTickets">
      <div *ngFor="let ticket of tickets" class="ticket-card">
        <div class="ticket-header">
          <h3>{{ ticket.title }}</h3>
          <div class="ticket-status" [ngClass]="{'status-pending': ticket.status === 'Pendiente', 'status-in-progress': ticket.status === 'En Progreso', 'status-resolved': ticket.status === 'Resuelto'}">
            {{ ticket.status }}
          </div>
        </div>
        <p><strong>Descripción:</strong> {{ ticket.description }}</p>
        <p><strong>Prioridad:</strong> {{ ticket.priority }}</p>
        <p><strong>Categoría:</strong> {{ ticket.category }}</p>
        <p><strong>Solicitante:</strong> {{ ticket.applicantName }}</p>
        <p><strong>Email:</strong> {{ ticket.applicantEmail }}</p>
        <p><strong>Teléfono:</strong> {{ ticket.applicantPhone }}</p>
        <p><strong>Fecha de creación:</strong> {{ ticket.createdDate | date:'short' }}</p>
      </div>
    </div>
    <ng-template #noTickets>
      <p>No hay tickets disponibles.</p>
    </ng-template>
  </div>
