<div class="ticket-container">
  <h2 class="title fs-2 text-center">Mis Tickets</h2>
  <ng-container *ngIf="Object.keys(groupedTickets).length > 0; else noTickets">
    <div
      *ngFor="let status of Object.keys(groupedTickets)"
      class="status-container"
      [ngClass]="{
        pendiente: status === 'Pendiente',
        'en-proceso': status === 'En Progreso',
        resuelto: status === 'Resuelto'
      }"
    >
      <h3 class="status-title">{{ status }}</h3>
      <div class="table-responsive"> <!-- Responsividad horizontal -->
        <table class="tickets-table table">
          <thead>
            <tr>
              <th scope="col">N Ticket</th>
              <th scope="col">Título</th>
              <th scope="col">Solicitante</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha de Creación</th>
              <th scope="col">Técnico Asignado</th>
              <th scope="col">Mensaje de Resolución</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of groupedTickets[status]">
              <td class="text-center fw-bolder">{{ ticket.ticketId }}</td>
              <td>{{ ticket.title }}</td>
              <td>{{ ticket.applicantName }}</td>
              <td>{{ ticket.description }}</td>
              <td>{{ ticket.createdDate | date : "shortDate" }}</td>
              <td>{{ ticket.assignedUserName }}</td>
              <td>{{ ticket.resolutionMessage || 'Sin Mensaje' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #noTickets>
    <p class="text-center">No hay tickets disponibles.</p>
  </ng-template>
</div>
