<div class="ticket-container">
    <h2 class="title fs-2 text-center">Tickets Asignados</h2>
    <ng-container *ngIf="Object.keys(groupedTickets).length > 0; else noTickets">
      <div
        *ngFor="let status of Object.keys(groupedTickets)"
        class="status-container"
        [ngClass]="{
          'en-proceso': status === 'En Progreso',
          resuelto: status === 'Resuelto'
        }"
      >
        <h3 class="status-title">{{ status }}</h3>
        <div class="table-responsive"> <!-- Responsividad horizontal -->
          <table class="tickets-table table">
            <thead>
              <tr>
                <th scope="col">N Ticket</th>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Correo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Mensaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of groupedTickets[status]">
                <td class="text-center fw-bolder">{{ ticket.ticketId }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.applicantEmail }}</td>
                <td>{{ ticket.createdDate | date: 'dd/MM/yyyy'}}</td>
                <td>
                  <div *ngIf="status === 'En Progreso'">
                    <textarea
                      [(ngModel)]="resolutionMessage[ticket.ticketId]"
                      class="form-control mb-2"
                      placeholder="Mensaje de resolución"
                    ></textarea>
                    <button class="btn btn-success btn-sm" (click)="resolveTicket(ticket)">
                      Resolver
                    </button>
                  </div>
                  <div *ngIf="status === 'Resuelto'">
                    <p>{{ ticket.resolutionMessage }}</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <ng-template #noTickets>
      <p class="text-center">No hay tickets asignados.</p>
    </ng-template>
  </div>
  